body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .first-div {
  background-color: black;
  color: white;
}

.dark-mode .secound-div {
  background-color: #333;
}

.dark-mode h2 {
  border-bottom: 2px solid white;
}

.dark-mode #open-popup-btn {
  background-color: #666;
  color: white;
}
.dark-mode .popup {
  display: none;
  position: fixed;
  top: 6rem;
  left: 10rem;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dark-mode .popup-content {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
a {
  color: rgb(105, 138, 105);
}
.light-mode {
  background-color: white;
  color: black;
}

.light-mode .first-div {
  background-color: white;
  color: black;
}

.light-mode .secound-div {
  background-color: #b1cbb2;
}

.light-mode h2 {
  border-bottom: 2px solid black;
}

.light-mode #open-popup-btn {
  background-color: #4c6a4d;
  color: white;
}

.toggle-button {
  background-color: #4c6a4d;
  width: 2rem;
  height: 1rem;
}

.toggle-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.styled-img {
  border-radius: 50%;
  position: absolute;
  right: 7vw;
  width: 100px;
  height: 100px;
}

.first-div {
  position: absolute;
  width: 70vw;
  height: 106vh;
  background-color: white;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.styled-div {
  top: 10vh;
  position: absolute;
  left: 2vw;
}

.secound-div {
  position: absolute;
  flex: 1;
  background-color: #b1cbb2;
  width: 28vw;
  height: 140vh;
  right: 0;
  top: 0;
  transition: background-color 0.3s;
}

.light-mode .popup {
  display: none;
  position: fixed;
  top: 6rem;
  left: 10rem;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.light-mode .popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="time"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.time-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-inputs input[type="time"] {
  width: 45%;
}

textarea {
  resize: vertical;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons input[type="submit"] {
  padding: 12px 20px;
  background-color: #4c6a4d;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.buttons input[type="submit"]:hover {
  background-color: #b1cbb2;
}

.buttons #cancel-btn {
  padding: 12px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.buttons #cancel-btn:hover {
  background-color: #999;
}

.section {
  display: block;
}

.hide-section {
  display: none;
}
